<div class="container">
    
    <div class="container" id= "topRow">
    <div class="row">
      <div class="col s12 center">
<h1>Eat-Da-Burger</h1>
        <!--Closes h1 col div-->
        </div>
        <!--Closes h1 row div-->
    </div>
    <!--Closes top row div-->
    </div>


<div class= "container center">
    <img class="responsive-img" src="https://media.giphy.com/media/UxzmReuU4YOOY/giphy.gif">
    <!--Closes img div-->
    </div>

<div class= "container">
    <div class= "row"> 
        <div class = "col s12 center">
  
<h3>Add-Da-Burger</h3>
<form class="create-form">

  <div class="form-group">
    <label for="ca"></label>
    <input placeholder ="Enter a Burger you'd like to eat!" type="text" id="ca" name="name" class ="center">
  </div>

    <button class="btn waves-effect waves-light orange darken-4" type="submit" name="action">Add Burger
    <i class="material-icons right">restaurant</i>
    </button>
  
</form>
<!--Closes first col div-->
        </div>
<!--Closes first row div-->
    </div>
    <!--Closes first container Div-->
</div>


<div = "container" id= "burgersEntry">
    <div class= "row"> 
        <div class = "col l6">
<h4 class="center">Da-Burgers!</h4>

<ul class="collection">
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>
<!--Closes burgers you want to eat col div-->
        </div>


    
        <div class = "col l6">
<h4 class="center">Devoured Burgers</h4>

<ul class="collection">
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>

        <!--Closes burgers devoured col div-->
        </div>
    <!--Closes burgers devoured row div-->
    </div>
<!--Closes second container div-->
</div>
<!--Master page container div-->
</div>


<!--Footer-->
<footer class="page-footer orange">
<div class="center">
           
            © 2017 Created by Conor Nolan
            
          </div>
          <br>
        </footer>

