<li>
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}NOM NOM TIME!{{else}}I DIDN'T EAT THIS! SEND IT BACK!{{/if}}
	</button>

	
</li>
