<li class = "collection item center">
	{{burger_name}}

	<button class="change-devoured btn waves-effect waves-light right" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}DEVOUR!{{else}}SEND IT BACK!{{/if}}
	</button>

	
</li>
